<!DOCTYPE html>
<html lang="en">
    <head>
        <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
        <title>Infiltration visualization</title>
    </head>
    <body>
        <div id="3d_plot" style="width:100%;height:100%"></div>
    </body>
    <script>
        var data = [{
            x: {{ x }},
            y: {{ y }},
            z: {{ z }},
            type: 'surface',
            colorscale:'Greens',
            lighting:{
                diffuse: 1
            },
            lightposition:{
                x: 20,
                y: 20,
                z: 4
            }
        }];

        var layout = {
            scene: {
                xaxis:{title: 'Concentration of saline solution, g/l'},
                yaxis:{title: 'Temperature, ℃'},
                zaxis:{title: 'Filtration coefficient, m/day'}
            },
            height: {{ height }},
            margin: {
                l: 0,
                r: 0,
                b: 0,
                t: 0
            }
        };
        Plotly.newPlot('3d_plot', data, layout);
    </script>
</html>